.projectsSection {
  width: 100%;
  padding: 60px 0;
}

.projectsContainer {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding-inline: var(--section-padding-x);
}

@media (max-width: 968px) {
  .projectsSection {
    padding: 40px 0;
  }
}

@media (max-width: 640px) {
  .projectsSection {
    padding: 30px 0;
  }
}
